@media(max-width:1200px){

.cards{
grid-template-columns:repeat(2,1fr);
}

.dashboard{
grid-template-columns:1fr;
}

}

@media(max-width:768px){

.layout{
grid-template-columns:1fr;
}

.sidebar{
display:none;
}

.cards{
grid-template-columns:1fr;
}

.dashboard-bottom{
grid-template-columns:1fr;
}

.search{
width:100%;
}
}