@theme {

  // Colores principales
  --primary: #E61C8C;
  --primary-light: #F95FB4;
  --primary-dark: #C11373;

  --secondary: #57C6CF;
  --secondary-dark: #2FA8B2;
  --secondary-light: #9CE5EB;

  // Neutros
  --background: #F7F9FC;
  --surface: #FFFFFF;

  --text-primary: #232323;
  --text-secondary: #6E7280;

  --border: #ECECEC;

  // Estados
  --success: #34C759;
  --warning: #FFB547;
  --danger: #FF5E5E;
}